.row {
  margin: auto 1rem 1rem auto;
  background: white;
  width: 100%;
  display: flex;
  align-items: center;
}

.data {
  padding-left: 24px;
  height: 24px;
}

.icon {
  height: 24px !important;
  width: 24px !important;
}

.menu-row {
  opacity: 1;
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 0rem !important;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.menu-row:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
    rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
}

.icon {
  height: 24px !important;
  width: 24px !important;
  color: whitesmoke;
}

.title {
  flex: 1 1 auto;
  min-width: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0.625rem;
  line-height: 24px;
  font-size: 0.875rem !important;
}

.expand {
  display: inline-block;
  transition: height 0.5s;
  margin-right: 1px;
  line-height: 24px;
}

.collapsed {
  transition: height 0.5s;
  display: none;
}
