.hr {
  flex-shrink: 0;
  border-width: 0px 0px medium;
  border-style: solid solid none;
  border-color: rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.08) currentcolor;
  height: 0.0925rem;
  margin: 0.7rem 0px;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0)
  ) !important;
}
